.title.text-center
  %h1 Administration Panel
%button.btn.btn-default.pull-right.logout-btn
  = link_to "Log Out", logout_path, method: 'delete'

%div.tab-background(role="tabpane1")
  %ul.nav.nav-tabs(role="tablist")
    %li(role="presentation")
      %a(href="#comics" aria-controls="comics" role="tab" data-toggle="tab")Comics
    %li(role="presentation")
      %a(href="#posts" aria-controls="posts" role="tab" data-toggle="tab")Blog Posts

  %div.tab-content
    %div.tab-pane.active#comics(role="tabpanel")
      = bootstrap_form_for @comic, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6", html: {id: "comics-form"} do |f|
        %h2.col-sm-offset-2 Add Comics
        = f.text_field :title
        = f.text_field :img_url
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Add Comic" class="btn btn-default")
    %div.tab-pane#posts(role="tabpanel")
      = bootstrap_form_for @post, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6", html: {id: "posts-form"} do |f|
        %h2.col-sm-offset-2 Add Blog Posts
        = f.text_field :title
        = f.text_area :description
        = f.text_area :body, rows: 20
        = f.text_field :banner_url
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Add Blog Post" class="btn btn-default")
