%div.title.text-center
  %h1= @comic.title
- if logged_in?
  %h2.text-center
    %span.delete-item
      =link_to "[Delete Comic]", comic_path(@comic), method: 'delete'
%div.comic-image
  =image_tag @comic.img_url, class: "img-responsive"

  %div.comic-nav.text-center
    = link_to(comic_path(Comic.first), html_options = {title: 'First'}) do
      %btn.btn.btn-default.btn-lg(type="button")
        %span.glyphicon.glyphicon-step-backward
    = link_to(comic_path(previous_comic(@comic)), html_options = {title: 'Previous'}) do
      %btn.btn.btn-default.btn-lg(type="button")
        %span.glyphicon.glyphicon-chevron-left
    = link_to(comic_path(random_comic), html_options = {title: 'Random'}) do
      %btn.btn.btn-default.btn-lg(type="button")
        %span.glyphicon.glyphicon-random
    = link_to(comic_path(next_comic(@comic)), html_options = {title: 'Next'}) do
      %btn.btn.btn-default.btn-lg(type="button")
        %span.glyphicon.glyphicon-chevron-right
    = link_to(root_path, html_options = {title: 'Last'}) do
      %btn.btn.btn-default.btn-lg(type="button")
        %span.glyphicon.glyphicon-step-forward

%div.social-nav.text-center
  %h2 Share
  <a class="social-share-button-google_plus icon-googleplus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google Plus"></a>
  <a class="social-share-button-facebook icon-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
  <a class="social-share-button-twitter icon-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
  = link_to "", "#", class: 'icon-feed', title: 'Follow Feed'
