%div.title.text-center
  %h1=@post.title

%div.post-header
  =image_tag "#{@post.banner_url}", class: "img-responsive"
  %p
    Posted on #{@post.created_date} by
    =link_to @post.user.full_name, about_path(anchor: @post.name_link)
    - if logged_in?
      %span.delete-item
        =link_to "[Delete Post]", post_path(@post), method: 'delete'
    %span.pull-right.share-header
      %span Share:
      <a class="social-share-button-google_plus icon-googleplus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
      <a class="social-share-button-twitter icon-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
      <a class="social-share-button-facebook icon-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>

%div.post-body
  %p
    = simple_format(@post.body)
%div.social-nav.text-center
  %h2 Follow Us
  = link_to "", "#", class: 'icon-googleplus', title: 'Follow on Google +'
  = link_to "", "#", class: 'icon-twitter', title: 'Follow on Twitter'
  = link_to "", "#", class: 'icon-facebook', title: 'Follow on Facebook'
  = link_to "", "#", class: 'icon-feed', title: 'Follow Feed'
