<!DOCTYPE html>
<html>
<head>
  <title>Dkf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
